<div class="container">
  <!-- Button HTML (to Trigger Modal) -->


  <!-- Modal HTML -->

  <div class="board row">
    {{#each object}}
    <div class="col-md-2 categories">
      <div class="tile">{{title}}</div>
      {{#each clues}}
      <div class="row clues">
        <form class="tile">
          <a href="#{{id}}" class="btn btn-lg btn-primary" data-toggle="modal">{{value}}</a>
        </form>
      </div>
      <div id="{{id}}" class="modal fade" data-backdrop="static">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{title}}</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <p>{{question}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    {{/each}}
  </div>
</div>
<script src="./js/gameBoard.js"></script>